
.main {
    height: 100vh;
    width: 100%;
    background-image: url(/Images/HomeS.svg);
    background: center cover;
    background-repeat: no-repeat;
        .bk-Image {
        height: 100VH;
        width: 100%;
        z-index: -1;
            img {
                    height: 100%;
                    width: 100%;  
            }
}
}


h1 {
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 2rem;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 1rem;
    font-family: 'Italiana', serif;
    position: absolute;
    top: 12%;
    left: 50%;
}

.nav-item {
    font-family: $titulos-font;
}
