/* PRODUCTOS */
#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.prodcontainer {
    margin-top: 5%;
}

.prodcontainer img {
    height: 150px;
    width: 100%;
}

.prodcontainer p {
    text-align: center;
    margin-top: 5%;
    font-family: 'Nuosu SIL', serif;
}